@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap');


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection {
  background-color: var(--color-darkblue);
  color: var(--color-primary);
}
html {
  --color-primary: rgb(255, 255, 153);
  --color-text: #1b0f37;
  --color-green: rgb(26, 174, 122);
  --color-pink: #f6aa9f;
  --color-blue: rgb(0, 109, 255);
  --color-darkblue: rgb(47, 26, 95);
  --color-white: #fdfdfd;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Asul', sans-serif;
  font-size: 1.6rem;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.box {
  width: 30px;
  height: 30px;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  background: #006dff;
  position: absolute;
}